.map-preview {
  :deep(.ol-attribution) {
    display: none !important;
  }

  :deep(.ol-control) {
    display: none !important;
  }
}
.map-fullscreen {
  .ol-zoom {
    top: 0.5em;
    right: 0.5em;
    left: auto;
  }

  .ol-attribution {
    right: 0.5em;
    bottom: 0.5em;
  }
}
.ol-layer {
  transition: opacity 0.3s ease-in-out;
}
